{% extends 'base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center pt-4">
        <div class="col-8">
            <h2>{{ user | title }} - Login Page</h2>

            {% if data %}
                <p>{{ data.get('msg') }}</p>
                <hr/>
            {% endif %}

            <form method="post" action="/login" role="form">
                <div class="form-group">
                    <label for="user_name">Email address:</label>
                    <input name="user_name" type="text" class="form-control" placeholder="Username..." required>
                </div>
                <div class="form-group">
                    <label for="user_pass">Password:</label>
                    <input name="user_pass" type="password" class="form-control" placeholder="Password..." required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}